    </main>
    <footer class="container">&nbsp;</footer>

    <script src="{{ site.baseurl }}/assets/js/jquery.slim.min.js?3.5.1"></script>
    <script src="{{ site.baseurl }}/assets/js/popper.min.js?1.16.1"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js?4.6.2"></script>

  </body>
</html>