---
layout: default
title: Schützen
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schützen</li>
  </ol>
</nav>

<h1>{{ page.title }}</h1>

<div class="div-schuetzenlist">
  {% assign cur_letter = false %}
  {% assign schuetzen = site.schuetzen | sort: 'first_name' %}

  {% for schuetze in schuetzen %}
  {% assign last_letter = schuetze.first_name | slice: 0 | capitalize %}
  {% if cur_letter != last_letter %}
  {% if cur_letter %}
  </ul>
</div>
{% endif %}

{% assign cur_letter = last_letter %}
<div class="div-speakergroup">
  <h3>{{ cur_letter }}</h3>
  <ul>
    {% endif %}

    <li>
      {% if schuetze.hide %}
      {{ schuetze.first_name }} {{ schuetze.last_name }}
      {% else %}
      <a href="{{ schuetze.url | prepend: site.baseurl }}">
        {{ schuetze.first_name }} {{ schuetze.last_name }}
      </a>
      {% endif %}
    </li>

    {% endfor %}

  </ul>
</div>
</div>