---
layout: default
title: Schützenfeste
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Schützenfeste</li>
  </ol>
</nav>

<h1>{{ page.title }}</h1>

{% for main_category in site.main_categories %}
  <p>
      {% for talk in site.schuetzenfeste %}
        {% for cat in talk.categories %}
          {% if cat == main_category.name %}
            {% assign main_cat = main_category.name %}

            {% assign count_schuetzen = 0 %}
            {% for teilnehmer in talk.schuetzen %}
              {% assign count_schuetzen = count_schuetzen | plus: 1 %}
            {% endfor %}

            {% assign count_unbekannt = 0 %}
            {% for teilnehmer in talk.unbekannt %}
              {% assign count_unbekannt = count_unbekannt | plus: 1 %}
            {% endfor %}

            {% assign count_absage = 0 %}
            {% for teilnehmer in talk.absage %}
              {% assign count_absage = count_absage | plus: 1 %}
            {% endfor %}

            <div class="card mb-4">
                <div class="card-header">
                    {{ talk.status }}
                  </div>
                <div class="card-body">
                  <h5 class="card-title">{{ talk.name }}</h5>
                  <div class="mb-1 text-muted">Verein: {{ talk.location }}</div>
                  <p class="card-text"></p>
                </div>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Teilnehmer:
                      <span class="badge badge-primary badge-pill">{{ count_schuetzen }}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Unbekant:
                      {% if count_unbekannt != 0 %}<span class="badge badge-danger badge-pill">{{ count_unbekannt }}</span>{% else %}<span class="badge badge-primary badge-pill">{{ count_unbekannt }}</span>{% endif %}
                    </li>
                </ul>
                <div class="card-body">
                  <a href="{{ talk.url | prepend: site.baseurl }}" class="btn btn-primary stretched-link">Rangeure</a>
                </div>
              </div>

            {% break %}
          {% endif %}
        {% endfor %}
      {% endfor %}
  </p>
{% endfor %}
