{% include header.html %}

  {% assign schuetze = page %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>

  <h1>Home</h1>

  {{ content }}

  <p>
    <ul>
      <li><a href="/schuetzenfeste/"><b>Schützenfeste</b></a></li>
      <li><a href="/schuetzen/"><b>Schützen</b></a></li>
    </ul>
  </p>

{% include footer.html %}
