{% include header.html %}

{% assign schuetze = page %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/schuetzen/">Schützen</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{ schuetze.name }}</li>
  </ol>
</nav>

<h1>{{ schuetze.name }}</h1>

{{ content }}

<p>
  <ul class="list-without-bullets">
    <li><b>Jahrgang:</b> {{ schuetze.born }}</li>
    <li><b>EASV Nummer:</b> {{ schuetze.easv_nr }}</li>
    <li><b>Stellung:</b> {{ schuetze.stellung }}</li>
  </ul>
</p>

<div class="table-responsive">

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Termin</th>
        <th scope="col">Status</th>
        <th scope="col">Schützenfest</th>
        <th scope="col">Ort</th>
      </tr>
    </thead>
    <tbody>

      {% assign no_schuetzenfeste = true %}

      {% for schuetzenfest in site.schuetzenfeste %}
        {% assign is_schuetze = false %}

        {% for schuetze_name in schuetzenfest.schuetzen %}
          {% if schuetze_name.schuetze == schuetze.name %}
            {% assign is_schuetze = true %}
            {% assign rangeur = schuetze_name.rangeur %}
            {% break %}
          {% endif %}
        {% endfor %}

        {% if is_schuetze %}
          {% assign no_schuetzenfeste = false %}

          {% if schuetzenfest.status == "Abgeschlossen" %}
            <tr class="table-success">
              <td nowrap>{{ rangeur }}</td>
              <td nowrap>{{ schuetzenfest.status }}</td>
              <td nowrap><a href="{{ schuetzenfest.url | prepend: site.baseurl }}">{{ schuetzenfest.name }}</a></td>
              <td nowrap>{{ schuetzenfest.location }}</td>
            </tr>
          {% elsif schuetzenfest.status == "Abgesagt" %}
            <tr class="table-success">
              <td nowrap>{{ rangeur }}</td>
              <td nowrap>{{ schuetzenfest.status }}</td>
              <td nowrap><a href="{{ schuetzenfest.url | prepend: site.baseurl }}">{{ schuetzenfest.name }}</a></td>
              <td nowrap>{{ schuetzenfest.location }}</td>
            </tr>
          {% else %}
            <tr class="table-primary">
              <td nowrap>{{ rangeur }}</td>
              <td nowrap>{{ schuetzenfest.status }}</td>
              <td nowrap><a href="{{ schuetzenfest.url | prepend: site.baseurl }}">{{ schuetzenfest.name }}</a></td>
              <td nowrap>{{ schuetzenfest.location }}</td>
            </tr>
          {% endif %}

        {% endif %}

      {% endfor %}

    </tbody>
  </table>

  {% if no_schuetzenfeste %}
    <li>
      <em>keine</em>
    </li>
  {% endif %}

  {% include footer.html %}