{% include header.html %}

  {% assign fest = page %}

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item"><a href="/schuetzenfeste/">Schützenfeste</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ fest.name }}</li>
    </ol>
  </nav>

  <h1>{{ fest.name }}</h1>

  <!--
  <p class="p-speaker">
    <em>

    </em>
  </p>
  -->

  <p>
    <ul class="list-without-bullets">
      {% if fest.status %}<li><b>Status:</b> {{ fest.status }}</li>{% endif %}
      {% if fest.status %}<li><b>Verein/Ort:</b> {{ fest.location }}</li>{% endif %}
      {% if fest.datum %}<li><b>Datum:</b> {{ fest.datum }}</li>{% endif %}
      {% if fest.website %}<li><b>Webseite:</b> <a href="{{ fest.website }}">Link</a></li>{% endif %}
      {% if fest.einladung or fest.auszahlung %}<li class="noprint"><b>Dokumente:</b> {% if fest.einladung %}<a href="{{ fest.einladung }}">Schiessplan</a>{% endif %} {% if fest.auszahlung %}<a href="{{ fest.auszahlung }}">Auszahlung</a>{% endif %}</li>{% endif %}
    </ul>
  </p>

  {{ content }}

  {% assign count = 0 %}
  {% for teilnehmer in fest.schuetzen %}
    {% assign count = count | plus: 1 %}
  {% endfor %}

  {% if count != 0 %}<h5>Teilnehmer <span class="badge badge-secondary">{{ count }}</span></h5>
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Schütze</th>
          <th scope="col">Rangeur/Termin</th>
          <th scope="col"></th>
        </tr>
      </thead>
    <tbody>
    </tbody>

    {% for teilnehmer in fest.schuetzen %}
      {% assign schuetze = site.schuetzen | where: 'name', teilnehmer | first %}
      {% assign schuetze_short = schuetze.first_name | append: ' ' | append: schuetze.last_name %}

      <tr>
        <td nowrap><a href="../../schuetzen/">{{ teilnehmer.schuetze }}</a></td>
        <td nowrap>{{ teilnehmer.rangeur }}</td>
        <td nowrap>{% if teilnehmer.scheibe.size %}<span class="badge badge-info">scheibe: {{ teilnehmer.scheibe }}</span> {% endif %}{% if teilnehmer.gruppe.size %}<span class="badge badge-info">gruppe: {{ teilnehmer.gruppe }}</span>{% endif %}</td>
      </tr>

    {% endfor %}
    </tbody>
    </table>

  </div>
  {% endif %}

  {% assign count = 0 %}
  {% for teilnehmer in fest.unbekannt %}
    {% assign count = count | plus: 1 %}
  {% endfor %}

  <div class="noprint">

    {% if count != 0 %}
      <h5>Unbekannt <span class="badge badge-secondary">{{ count }}</span></h5>
    {% endif %}

    <p>
      <ul>
        {% for teilnehmer in fest.unbekannt %}
          {% assign schuetze = site.unbekannt | where: 'name', teilnehmer | first %}
          {% assign schuetze_short = schuetze.first_name | append: ' ' | append: schuetze.last_name %}

        <li><a href="../../schuetzen/">{{ teilnehmer.schuetze }}</a></li>

        {% endfor %}
      </ul>
    </p>


    {% assign count = 0 %}
    {% for teilnehmer in fest.absage %}
      {% assign count = count | plus: 1 %}
    {% endfor %}

    {% if count != 0 %}<h5>Absagen <span class="badge badge-secondary">{{ count }}</span></h5>{% endif %}

    <p>
      <ul>
        {% for teilnehmer in fest.absage %}
          {% assign schuetze = site.absage | where: 'name', teilnehmer | first %}
          {% assign schuetze_short = schuetze.first_name | append: ' ' | append: schuetze.last_name %}

          <li><a href="../../schuetzen/">{{ teilnehmer.schuetze }}</a></li>

        {% endfor %}
      </ul>
    </p>

  </div>

  &nbsp;

{% include footer.html %}
